Header set Access-Control-Allow-Headers: *
Header set Access-Control-Allow-Origin *
Header set Access-Control-Expose-Headers *
Header set Cache-Control "public, max-age=604800, s-maxage=604800, immutable"
Header set Cross-Origin-Opener-Policy same-origin
Header set Cross-Origin-Embedder-Policy require-corp

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{HTTP:Accept-encoding} br
RewriteCond %{REQUEST_FILENAME}\.br -s
RewriteRule ^(.*) $1\.br [QSA]

RewriteRule \.js\.br$ - [T=text/javascript,E=no-gzip,E=no-brotli]
RewriteRule \.wasm\.br$ - [T=application/wasm,E=no-gzip,E=no-brotli]

<FilesMatch "(\.br)$">
	Header set Content-Encoding br
	Header append Vary Accept-Encoding
</FilesMatch>

#Generated extra
<FilesMatch "(ffmpeg-gpl-simd-wv.js\.br)$">
	Header set x-content-length 131084
</FilesMatch>
<FilesMatch "(ffmpeg-gpl-simd.js\.br)$">
	Header set x-content-length 131068
</FilesMatch>
<FilesMatch "(ffmpeg-gpl-simd.worker.js\.br)$">
	Header set x-content-length 2202
</FilesMatch>
<FilesMatch "(ffmpeg-gpl-wv.js\.br)$">
	Header set x-content-length 131074
</FilesMatch>
<FilesMatch "(ffmpeg-gpl.js\.br)$">
	Header set x-content-length 131058
</FilesMatch>
<FilesMatch "(ffmpeg-gpl.worker.js\.br)$">
	Header set x-content-length 2202
</FilesMatch>
<FilesMatch "(ffmpeg-lgpl-simd-wv.js\.br)$">
	Header set x-content-length 131086
</FilesMatch>
<FilesMatch "(ffmpeg-lgpl-simd.js\.br)$">
	Header set x-content-length 131070
</FilesMatch>
<FilesMatch "(ffmpeg-lgpl-simd.worker.js\.br)$">
	Header set x-content-length 2202
</FilesMatch>
<FilesMatch "(ffmpeg-lgpl-wv.js\.br)$">
	Header set x-content-length 131076
</FilesMatch>
<FilesMatch "(ffmpeg-lgpl.js\.br)$">
	Header set x-content-length 131060
</FilesMatch>
<FilesMatch "(ffmpeg-lgpl.worker.js\.br)$">
	Header set x-content-length 2202
</FilesMatch>
<FilesMatch "(ffmpeg-gpl-simd.wasm\.br)$">
	Header set x-content-length 37116921
</FilesMatch>
<FilesMatch "(ffmpeg-gpl.wasm\.br)$">
	Header set x-content-length 30858007
</FilesMatch>
<FilesMatch "(ffmpeg-lgpl-simd.wasm\.br)$">
	Header set x-content-length 30469687
</FilesMatch>
<FilesMatch "(ffmpeg-lgpl.wasm\.br)$">
	Header set x-content-length 26230180
</FilesMatch>
